
<form class=".add-form">
  <div class="field">

    <input type="text" id="recipe_name" placeholder="Title">
  </div>

<div class="field">

    <input type="text" id="preperation_time" placeholder="Cooking Time">
  </div>

<div class="field">

<div class="ui action input">
   
  <input type="text" placeholder="Ingredients" id="ing_text">
  <button class="ui icon button" type="button" id="add-ing">
    <i class="plus icon"></i>
  </button>
</div>
</div>

<table class="ui celled table">
  <thead>
    <tr><th>ID</th>
    <th>Ingredients</th>


  </tr></thead>
  <tbody id="ingredients-display">

  
  </tbody>
</table>


  <button class="ui button" type="button" onclick="handleformSubmit()">Submit</button>
</form>


<script src="./js/add-recipe.js"></script>