<div class="navbar"> 
<nav>
    <a href="#" class="brand">
        <h1>Title</h1>
    </a>
     <a href="#">
        <h1>Create Recipe</h1>
    </a>
</nav>

</div>

<div class="home">
 <div class="recipe-list">
 <div class="card">
        <h3>Vegetable pie</h3>
        <p>45 mins to make</p>
        <div>Lorem ipsum dolor sit, amet consectetur </div>
         <a href="#"> Click</a>
    </div>

     <div class="card">
        <h3>Vegetable pie</h3>
        <p>45 mins to make</p>
        <div>Lorem ipsum dolor sit, amet consectetur </div>
   <a href="#"> Click</a>
    </div>

     <div class="card">
        <h3>Vegetable pie</h3>
        <p>45 mins to make</p>
        <div>Lorem ipsum dolor sit, amet consectetur </div>
         <a href="#"> Click</a>
    </div>

        <div class="card">
        <h3>Vegetable pie</h3>
        <p>45 mins to make</p>
        <div>Lorem ipsum dolor sit, amet consectetur </div>
         <a href="#"> Click</a>
    </div>

        <div class="card">
        <h3>Vegetable pie</h3>
        <p>45 mins to make</p>
        <div>Lorem ipsum dolor sit, amet consectetur </div>
         <a href="#"> Click</a>
    </div>

        <div class="card">
        <h3>Vegetable pie</h3>
        <p>45 mins to make</p>
        <div>Lorem ipsum dolor sit, amet consectetur </div>
         <a href="#"> Click</a>
    </div>
 </div>


   


</div>