
<form class=".signup-form">
  <div class="field">
    <label>First Name</label>
    <input type="text" id="first-name-signup" placeholder="First Name">
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" id="last-name-signup" placeholder="Last Name">
  </div>
  <div class="field">
    <label>Username</label>
    <input type="text" id="username-signup" placeholder="Please enter your desired username">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" id="email-signup" placeholder="example@example.com">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" id="password-signup" placeholder="">
  </div>
  <div class="field">
    <label>Repeat Password</label>
    <input type="password" id="repeat-password-signup" placeholder="">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button id="signupSubmit" class="ui button" type="submit">Submit</button>
</form>


<script src="./js/signup.js"></script>