.navbar{
    background: #58249c !important;
    padding: 20px !important;;
    color: #fff !important;;
}

.buttons{
    display: inline !important;
}

.signup-form{
    text-align: center !important;
    padding-top: 20px !important;
}
